body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}

header {
  text-align: center;
}
img {
  margin: auto;
  display: block;
}
figcaption {
  font-size: small;
  text-align: center;
}
#featured-property p {
  width: 800px;
  text-align: center;
  margin: auto;
}
a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(182, 206, 227);
}
#details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: red;
  text-align: center;
}

#details a {
  text-decoration:underline;
  background: none;
}

